<?xml version="1.0" encoding="utf-8"?>
<browserconfig>
    <msapplication>
        <tile>
            <square70x70logo src="icons/mstile-70x70.png"/>
            <square150x150logo src="icons/mstile-150x150.jpg"/>
            <wide310x150logo src="icons/mstile-310x150.jpg"/>
            <square310x310logo src="icons/mstile-310x310.jpg"/>
            <TileColor>#FF3300</TileColor>
        </tile>
    </msapplication>
</browserconfig>